$uiDarkColor: #094358;
$uiGrayLightColor: #e0e0e0;
$uiGrayDarkColor: #939598;

$defaultTextLightColor: #fefefe;
$defaultTextDarkColor: #939598;
$textDarkestColor: #333333;

$whiteColor: #ffffff;
$blackColor: #000000;

$errorColor: #e03f3f;

$highlight: #00bef0;
